<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>table 组件综合演示 - Layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="./static/css/layui.css" rel="stylesheet">
<script src="./static/js/layui.js"></script>

  <style>
      .container{
          position: relative;
          width: 100px;
          background-color: #f1f1f1;
          display: flex;
      }
      .container input{
          width: 100%;
          height: 30px;
		  border: none;   // 去掉边框
		  outline: none;  // 去掉点击按钮后的边框

      }
      .container button{
          position: absolute;
          background-color: #f1f1f1;
          right: 0;
          background-color: #fff;

       }
  </style>
</head>
<body>
<!-- 
本「综合演示」包含：自定义头部工具栏、获取表格数据、表格重载、自定义模板、单双行显示、单元格编辑、自定义底部分页栏、表格相关事件与操作、与其他组件的结合等相对常用的功能，以便快速掌握 table 组件的使用。
-->
<div style="padding: 16px;"> 
  <table class="layui-hide" id="test" lay-filter="test"></table>
</div>
<script type="text/html" id="toolbarDemo">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="getCheckData">批量删除数据</button>
<!--    <button class="layui-btn layui-btn-sm" lay-event="getData">获取当前页数据</button>-->
    <button class="layui-btn layui-btn-sm" id="dropdownButton">
      下拉按钮 
      <i class="layui-icon layui-icon-down layui-font-12"></i>
    </button>


      <input type="text" id="searchInput" placeholder="搜索"  style="width:160px;height:30px;border:none;align:center">

    <button class="layui-btn layui-btn-sm layui-bg-blue" lay-event="Seach_reload">
      <i class="layui-icon layui-icon-search layui-icon-down layui-font-12"></i>
    </button>
<!--    <button class="layui-btn layui-btn-sm layui-btn-primary" id="rowMode">-->
<!--      <span>{{= d.lineStyle ? '多行' : '单行' }}模式</span>-->
<!--      <i class="layui-icon layui-icon-down layui-font-12"></i>-->
<!--    </button>-->



  </div>
</script>
<script type="text/html" id="barDemo">
  <div class="layui-clear-space">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-xs" lay-event="more">
      更多 
      <i class="layui-icon layui-icon-down"></i>
    </a>
  </div>
</script>  







<script>
layui.use(function(){
		var $=layui.$;
  var layer = layui.layer;
  var util = layui.util;
	var table = layui.table;
// {
// 		layer.open({
// 			title : '编辑分类',
// 			type : 1,
// 			/*area : [ '62%', '80%' ],*/
// 			maxmin : true,
// 			shadeClose : true,
// 			content : $('#editForm'),
// 			btn: ['确定', '取消'],
// 			shade: [0.8, '#393D49'],
// 			yes:function(index,layero){
// 				var checkStatus = table.checkStatus('test');
// 				console.log(checkStatus);
	
// 				layer.close(index);			
// 			}
// 		});
// 		//同步更新缓存对应的值
// 		obj.update({
// 			username: '123'
// 			, title: 'xxx'
// 		});
//     }
  // function mergeData(target, source) {
  //   let merged = [];
  //   source.forEach(sourceItem => {
  //     let newItem = {};
  //     for (let key in target[0]) {
  //       if (key === 'username' || key === 'sex') {
  //         newItem[key] = sourceItem[key] || "";
  //       } else {
  //         newItem[key] = "";
  //       }
  //     }
  //    source.push(newItem);
  //   });
  //   return source;
  // }

  // 批量事件
  util.on('lay-on', {
   iframe: function(){
	   
      layer.open({
              type: 2,
              title: 'iframe test',
              shadeClose: true,
              shade: 0.8,
              area: ['680px', '600px'],
              content: 'demo.html', // iframe 的 url
			  btn: ['确定', '取消'],
			yes: function(index, layero){
				var body = layer.getChildFrame('body', index);
				var iframeWin = window[layero.find('iframe')[0]['name']];
				var checkStatus = iframeWin.layui.table.checkStatus('ID-table-demo-setRowChecked');
				var allData = table.cache.test;
				console.log(layero);
				
				var standardData={
						  "id": "",
						  "username": "",
						  "email": "",
						  "sex": "",
						  "city": "",
						  "sign": "",
						  "experience": "",
						  "ip": "",
						  "checkin": "",
						  "joinTime": ""
						};
				 for(let demo of checkStatus.data){
					 let demomergeData={};
					 demomergeData=Object.assign(demomergeData,standardData,demo)
					 allData.splice(-6,0,demomergeData);
				 }
				 table.reloadData('test', {
				   where: {
				     abc: '123456',
				     //test: '新的 test2',
				     //token: '新的 token2'
				   },
				   scrollPos: 'fixed',  // 保持滚动条位置不变 - v2.7.3 新增
				   height: 2000, // 测试无效参数（即与数据无关的参数设置无效，此处以 height 设置无效为例）
					url:'',
					data:allData
				 });
				 layer.close(index);
				

			}
            });
    }
  });

});
// 全局函数，用于处理input框的focus事件
window.buttonDisplay = function(id) {
	var inputField = document.getElementById('inputField' + id);
	var iconButton = document.getElementById('iconButton' + id);

	iconButton.style.display = 'inline-block'; // 显示按钮

};
window.buttonOut = function(id) {
	var inputField = document.getElementById('inputField' + id);
	var iconButton = document.getElementById('iconButton' + id);
	iconButton.style.display = 'none'; // 显示按钮

};
</script>

<!-- ////////////////编辑元件的表格////////////// -->
<form class="layui-form"  id="editForm" method="post" hidden = "hidden" lay-filter="editForm">
  <div class="layui-form-item">
	  	<div class="layui-inline">
	<label class="layui-form-label">用户名</label>
	<div class="layui-input-block">
	  <input type="text" name="UserName" id="edit_username" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
	</div>
	</div>
      <div class="layui-inline">
    <label class="layui-form-label">用户密码</label>
    <div class="layui-input-block">
      <input type="text" name="Password" id="edit_Password" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
    </div>
	</div>


  </div>
  <div class="layui-form-item">
	  <div class="layui-inline">
    <label class="layui-form-label">访问权限</label>
    <div class="layui-input-block">
        <div class="layui-form">
        <input type="checkbox" name="homepage" title="首页" lay-skin="tag" value="1" checked>
        <input type="checkbox" name="stocks" title="股票" lay-skin="tag" value="1">
        <input type="checkbox" name="industry" title="行业" lay-skin="tag" value="1">
        <input type="checkbox" name="macro" title="宏观" lay-skin="tag" value="1">
        <input type="checkbox" name="futures" title="期货" lay-skin="tag" value="1">
        <input type="checkbox" name="options" title="期权" lay-skin="tag" value="1">
        <input type="checkbox" name="quantitative" title="量化" lay-skin="tag" value="1">
        </div>
    </div>
	</div>
  </div>
  
  
  
  <div class="layui-form-item">

  
      <label class="layui-form-label">加入时间</label>
      <div class="layui-input-inline layui-input-wrap">
        <div class="layui-input-prefix">
          <i class="layui-icon layui-icon-date"></i>
        </div>
        <input type="text" name="joinTime" id="edit_joinTime"  lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
      </div>

	<div class="layui-inline">
	  <label class="layui-form-label">邮箱</label>
	  <div class="layui-input-inline">
	    <input type="text" name="Email" id="edit_email" lay-verify="email" placeholder="有值时才校验" autocomplete="off" class="layui-input">
	  </div>
	</div>
  </div>
<!--  <div class="layui-form-item">-->

<!--    <label class="layui-form-label">积分</label>-->
<!--    <div class="layui-input-inline layui-input-wrap">-->
<!--      <input type="text" name="experience" id="edit_experience"  lay-verify="required|pass" placeholder="请输入" autocomplete="off" lay-affix="eye" class="layui-input">-->
<!--    </div>-->
<!--	<div class="layui-inline">-->
<!--	<label class="layui-form-label">打卡</label>-->
<!--	<div class="layui-input-inline layui-input-wrap">-->
<!--	  <input type="text" name="checkin" id="edit_checkin" lay-verify="required|pass" placeholder="请输入" autocomplete="off" lay-affix="eye" class="layui-input">-->
<!--	</div>-->
<!--	</div>-->
<!--  </div>-->

</form>
<!-- ////////////////编辑元件的表格////////////// -->



<script>
layui.use(['table', 'dropdown','form','laydate', 'util'], function(){
	var $=layui.$;
	var table = layui.table;

	var dropdown = layui.dropdown;
	var laydate = layui.laydate;
	var util = layui.util;
	 var form = layui.form;
	  laydate.render({
	    elem: '#edit_joinTime'
	  });
  // 创建渲染实例
  table.render({
    elem: '#test',
    url: 'http://localhost:4000/admin_data', // 此处为静态模拟数据，实际使用时需换成真实接口
    toolbar: '#toolbarDemo',
    defaultToolbar: ['filter', 'exports', 'print'],
    height: 'full-35', // 最大高度减去其他容器已占有的高度差
    css: [ // 重设当前表格样式
      '.layui-table-tool-temp{padding-right: 145px;}'
    ].join(''),
    cellMinWidth: 80,
    totalRow: true, // 开启合计行
    page: false,
    cols: [[
      {type: 'checkbox', fixed: 'left'},
      {field:'UserId',  width:90, title: '用户ID', sort: true},
      {field:'UserName', width:80, title: '用户名'},
      {field:'Password', width:80, title: '密码', sort: true},
      {field:'Email', title:'邮箱 <i class="layui-icon layui-icon-tips layui-font-14" lay-event="email-tips" title="该字段开启了编辑功能" style="margin-left: 5px;"></i>', fieldTitle: '邮箱', hide: 0, width:150, expandedMode: 'tips'},
<!--      {field:'Email', title: '邮箱', edit: 'textarea', minWidth: 260, expandedWidth: 260, totalRow: '人物： <span class="layui-badge-rim">宋代：{{= d.TOTAL_ROW.era.song }}</span> <span class="layui-badge-rim">现代：{{= d.TOTAL_ROW.era.xian }}</span>'},-->
<!--      {field:'experience', width: 100, title: '积分', sort: true, totalRow: '{{= d.TOTAL_NUMS }} 😊'},-->
<!--      {field:'checkin', title:'打卡', width: 100, sort: true, totalRow: '{{= parseInt(d.TOTAL_NUMS) }} 次'},-->
    {field:'homepage', title:'首页-权限', width: 120,templet: function(d){
		if (d.homepage === '1') {
            return '<div'+'class="layui-table-link">'+ "是" +'</div>';
                    }
        return '<div'+'class="layui-table-link">'+ "否" +'</div>'
    }},
    {field:'stocks', title:'股票-权限', width: 120,templet: function(d){
		if (d.stocks === '1') {
            return '<div'+'class="layui-table-link">'+ "是" +'</div>';
                    }
        return '<div'+'class="layui-table-link">'+ "否" +'</div>'
    }},
    {field:'industry', title:'行业-权限', width: 120,templet: function(d){
		if (d.industry === '1') {
            return '<div'+'class="layui-table-link">'+ "是" +'</div>';
                    }
        return '<div'+'class="layui-table-link">'+ "否" +'</div>'
    }},
    {field:'macro', title:'宏观-权限', width: 120,templet: function(d){
		if (d.macro === '1') {
            return '<div'+'class="layui-table-link">'+ "是" +'</div>';
                    }
        return '<div'+'class="layui-table-link">'+ "否" +'</div>'
    }},
    {field:'futures', title:'期货-权限', width: 120,templet: function(d){
		if (d.futures === '1') {
            return '<div'+'class="layui-table-link">'+ "是" +'</div>';
                    }
        return '<div'+'class="layui-table-link">'+ "否" +'</div>'
    }},
    {field:'options', title:'期权-权限', width:120 ,templet: function(d){
		if (d.options === '1') {
            return '<div'+'class="layui-table-link">'+ "是" +'</div>';
                    }
        return '<div'+'class="layui-table-link">'+ "否" +'</div>'
    }},
    {field:'quantitative', title:'量化-权限', width: 120,templet: function(d){
		if (d.quantitative === '1') {
            return '<div'+'class="layui-table-link">'+ "是" +'</div>';
                    }
        return '<div'+'class="layui-table-link">'+ "否" +'</div>'
    }},
    {field:'joinTime', title:'加入时间', width: 120},
      {fixed: 'right', title:'操作', width: 134, minWidth: 125, toolbar: '#barDemo'}
    ]],
    done: function(){
      var id = this.id;
      // 下拉按钮测试
 dropdown.render({
    elem: '.ID-dropdown-demo-base-input',
    data: [{
      title: '男',
      id: 1
    },{
      title: '女',
      id: 2
    }],
    click: function(obj){
      this.elem.val(obj.title);
    },
    style: 'min-width: 235px;'
  });
	  
	  
      dropdown.render({
        elem: '#dropdownButton', // 可绑定在任意元素中，此处以上述按钮为例
        data: [{
          id: 'add',
          title: '添加'
        }],
        // 菜单被点击的事件
        click: function(obj){
          var checkStatus = table.checkStatus(id)
          var data = checkStatus.data; // 获取选中的数据
          switch(obj.id){
            case 'add':
              layer.open({
                title: '添加',
                type: 1,
                area: ['80%','80%'],
				content : $('#editForm'),
				btn: ['确定', '取消'],
				shade: [0.8, '#393D49'],
				success : function(layero, index) {
					 form.val('editForm', data);
					$("#edit_id").val(data.id);
					$("#edit_username").val(data.username);
					$("#edit_email").val(data.Email);
					$("#edit_sex").val(data.sex);
					$("#edit_sign").val(data.sign);
					$("#edit_experience").val(data.experience);
					$("#edit_checkin").val(data.checkin);
					$("#edit_joinTime").val(data.joinTime);
				},
				yes:function(index,layero){
					// var formData = form.val('editForm');
					// console.log(formData);
					// obj.update(formData);
					var formData2 = form.val('editForm');
					var allData2 = table.cache.test;
					allData2.unshift(formData2);
					table.reloadData('test', {
					  where: {
					    abc: '123456',
					    //test: '新的 test2',
					    //token: '新的 token2'
					  },
					  scrollPos: 'fixed',  // 保持滚动条位置不变 - v2.7.3 新增
					  height: 2000, // 测试无效参数（即与数据无关的参数设置无效，此处以 height 设置无效为例）
						url:'',
						data:allData2
					});	
					layer.close(index);
				
				}
              });
            break;
            case 'update':
              if(data.length !== 1) return layer.msg('请选择一行');
              layer.open({
                title: '编辑',
                type: 1,
                area: ['80%','80%'],
                content: '<div style="padding: 16px;">自定义表单元素</div>'
              });
            break;
            case 'delete':
              if(data.length === 0){
                return layer.msg('请选择一行');
              }
              layer.msg('delete event');
            break;
          }
        }
      });



      // 重载测试
      dropdown.render({
        elem: '#Seach_reload', // 可绑定在任意元素中，此处以上述按钮为例
        // 菜单被点击的事件
        click: function(obj){
        console.log("搜索测试");
          switch(obj.id){
            case 'reload':
              // 重载 - 默认（参数重置）
              table.reload('test', {
                where: {
                  abc: '123456',
                  //test: '新的 test2',
                  //token: '新的 token2'
                }
              });
            break;
            case 'reload-deep':
              // 重载 - 深度（参数叠加）
              table.reload('test', {
                where: {
                  abc: 123,
                  test: '新的 test1'
                },
                //defaultToolbar: ['print'], // 重载头部工具栏右侧图标
                //cols: ins1.config.cols
              }, true);
            break;
            case 'reloadData':
              // 数据重载 - 参数重置
              table.reloadData('test', {
                where: {
                  abc: '123456',
                  //test: '新的 test2',
                  //token: '新的 token2'
                },
                scrollPos: 'fixed',  // 保持滚动条位置不变 - v2.7.3 新增
                height: 2000, // 测试无效参数（即与数据无关的参数设置无效，此处以 height 设置无效为例）
				url:'',
				data:[
					  {"id": 1, "username": "user1", "email": "user1@example.com", "sex": "男", "sign": "sign1", "experience": 10, "checkin": true, "joinTime": "2023-01-01"},
					  {"id": 2, "username": "user2", "email": "user2@example.com", "sex": "女", "sign": "sign2", "experience": 20, "checkin": false, "joinTime": "2023-02-01"}
					  // 更多示例数据
					]
              });
            break;
            case 'reloadData-deep':
              // 数据重载 - 参数叠加
              table.reloadData('test', {
                where: {
                  abc: 123,
                  test: '新的 test1'
                }
              }, true);
            break;
          }
          layer.msg('可观察 Network 请求参数的变化');
        }
      });



      // 行模式
      dropdown.render({
        elem: '#rowMode',
        data: [{
          id: 'default-row',
          title: '单行模式（默认）'
        },{
          id: 'multi-row',
          title: '多行模式'
        }],
        // 菜单被点击的事件
        click: function(obj){
          var checkStatus = table.checkStatus(id)
          var data = checkStatus.data; // 获取选中的数据
          switch(obj.id){
            case 'default-row':
              table.reload('test', {
                lineStyle: null // 恢复单行
              });
              layer.msg('已设为单行');
            break;
            case 'multi-row':
              table.reload('test', {
                // 设置行样式，此处以设置多行高度为例。若为单行，则没必要设置改参数 - 注：v2.7.0 新增
                lineStyle: 'height: 95px;' 
              });
              layer.msg('即通过设置 lineStyle 参数可开启多行');
            break;
          }
        }
      });
    },
    error: function(res, msg){
      console.log(res, msg)
    }
  });
  
  // 工具栏事件
  table.on('toolbar(test)', function(obj){

    var id = obj.config.id;
    var checkStatus = table.checkStatus(id);
    var othis = lay(this);
	  var checkStatus = table.checkStatus('test');
	    var selectedData = checkStatus.data; // 获取选中的数据
    switch(obj.event){
		// 这是批量删除的代码部分
      case 'getCheckData':
       if (selectedData.length === 0) {
          layer.alert('请先选择需要删除的行');
        } else {
				layer.confirm('确定要删除选中的数据吗？', {icon: 3, title:'提示'}, function(index){
				  // 获取 table.cache.test 数据
				  var allData = table.cache.test;
                     console.log(selectedData);
				  // 从 allData 中删除选中的数据
				  allData = allData.filter(item => !selectedData.some(d => d.id === item.id));
                  $.ajax({
				type:'get',
				data:selectedData,
				url:'/admin_user_delete?items='+ encodeURIComponent(JSON.stringify(selectedData)),
				success:function(res){

				},
				err:function(err){
				console.log(err)
				}
				});
				table.reload('test', {
				    page:{
				        curr:1
				    }
              });
            layer.close(index);
          });
        }
        break;
      case 'getData':
        var getData = table.getData(id);
        console.log(getData);
        layer.alert(layui.util.escape(JSON.stringify(getData)));
        break;

case 'Seach_reload':
  var query = $('#searchInput').val().trim(); // 获取输入框中的值并去除空格

  if (query === '') {
    layer.msg('请输入搜索内容'); // 提示用户输入内容
    return; // 如果查询内容为空，阻止后续操作
  }

  $.ajax({
    type: 'GET',
    url: 'user_search', // 后端接口地址
    data: { query: query },
    success: function(res) {
      if (res && res.result ) {
        var Array = res.result.data;
        console.log(Array);

        // 数据重载 - 参数重置
        table.reload('test', {
          where: {
            // 自定义参数
          },
          scrollPos: 'fixed',  // 保持滚动条位置不变 - v2.7.3 新增
          height: 2000, // 设置表格高度
           url:'',
          data: Array  // 传递获取到的数据
        });
      } else {
        layer.msg('无效的数据格式'); // 提示数据格式无效
      }
    },
    error: function(err) {
      console.log(err);
      layer.msg('请求失败，请重试'); // 提示请求失败
    }
  });
  break;





    };
  });
  // 表头自定义元素工具事件 --- 2.8.8+
  table.on('colTool(test)', function(obj){
    var event = obj.event;
    console.log(obj);
    if(event === 'email-tips'){
      layer.alert(layui.util.escape(JSON.stringify(obj.col)), {
        title: '当前列属性配置项'
      });
    }
  });
  
  // 触发单元格工具事件
  table.on('tool(test)', function(obj){ // 双击 toolDouble
    var data = obj.data; // 获得当前行数据
    console.log(data);
    // console.log(obj)
    if(obj.event === 'edit'){
		layer.open({
			title : '编辑',
			type : 1,
			/*area : [ '62%', '80%' ],*/
			maxmin : true,
			shadeClose : true,
			content : $('#editForm'),
			btn: ['确定', '取消'],
			shade: [0.8, '#393D49'],
			success : function(layero, index) {
				 form.val('editForm', data);
				// $("#edit_id").val(data.id);
				// $("#edit_username").val(data.username);
				// $("#edit_email").val(data.email);
				// $("#edit_sex").val(data.sex);
				// $("#edit_sign").val(data.sign);
				// $("#edit_experience").val(data.experience);
				// $("#edit_checkin").val(data.checkin);
				// $("#edit_joinTime").val(data.joinTime);
			},
			yes:function(index,layero){
				var formData = form.val('editForm');
				$.ajax({
				type:'get',
				data:formData,
				url:'user_edit',
				success:function(res){
				console.log(res)
				},
				err:function(err){
				console.log(err)
				}
				});
				console.log(formData);
				obj.update(formData);
				layer.close(index);
			
			}
		});

		//同步更新缓存对应的值
		obj.update({
			username: '123'
			, title: 'xxx'
		});
    } else if(obj.event === 'more'){
      // 更多 - 下拉菜单
      dropdown.render({
        elem: this, // 触发事件的 DOM 对象
        show: true, // 外部事件触发即显示
        data: [
			// {
   //        title: '查看',
   //        id: 'detail'
   //      },
		{
          title: '删除',
          id: 'del'
        }],
        click: function(menudata){
          if(menudata.id === 'detail'){
            layer.open({
            	title : '编辑分类',
            	type : 1,
            	/*area : [ '62%', '80%' ],*/
            	maxmin : true,
            	shadeClose : true,
            	content : $('#editForm2'),
            	btn: ['确定', '取消'],
            	shade: [0.8, '#393D49'],
            	success : function(layero, index) {
            		$("#edit2_id").val(obj.data.id);
            		$("#edit2_username").val(obj.data.username);
            		$("#edit2_email").val(obj.data.Email);
            		$("#edit2_sex").val(obj.data.sex);
            		$("#edit2_sign").val(obj.data.sign);
            		$("#edit2_experience").val(obj.data.experience);
            		$("#edit2_checkin").val(obj.data.checkin);
            		$("#edit2_joinTime").val(obj.data.joinTime);
            	},
            	yes:function(index,layero){
            		
            	}
            });
          } else if(menudata.id === 'del'){
            layer.confirm('真的删除行吗?', function(index){
            const dataArray = [obj.data];
			var allData = table.cache.test;
            $.ajax({
                type: 'GET',
                url: '/admin_user_delete',
                data: {
                    items: JSON.stringify(dataArray)  // 将 dataArray 转换为 JSON 字符串
                },
                success: function(res) {
                    allData = res.result.data;  // 更新 allData 变量
                    console.log(res.result.data);
                },
                error: function(err) {
                    console.error(err);  // 修正了 err 为 error
                }
            });
				table.reload('test', {
				    page:{
				        curr:1
				    }
              });
              layer.close(index);
              // 向服务端发送删除指令
            });
          } 
        },
        align: 'right', // 右对齐弹出
        style: 'box-shadow: 1px 1px 10px rgb(0 0 0 / 12%);' // 设置额外样式
      })
    }
  });
 
  // 触发表格复选框选择
  table.on('checkbox(test)', function(obj){
  });
 
  // 触发表格单选框选择
  table.on('radio(test)', function(obj){
    console.log(obj)
  });
  
  // 行单击事件
  table.on('row(test)', function(obj){
    //console.log(obj);
    //layer.closeAll('tips');
  });
  // 行双击事件
  table.on('rowDouble(test)', function(obj){
    console.log(obj);
  });
 
  // 单元格编辑事件
  table.on('edit(test)', function(obj){
    var field = obj.field; // 得到字段
    var value = obj.value; // 得到修改后的值
    var data = obj.data; // 得到所在行所有键值
    // 值的校验
    if(field === 'email'){
      if(!/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/.test(obj.value)){
        layer.tips('输入的邮箱格式不正确，请重新编辑', this, {tips: 1});
        return obj.reedit(); // 重新编辑 -- v2.8.0 新增
      }
    }
    // 编辑后续操作，如提交更新请求，以完成真实的数据更新
    // …
    layer.msg('编辑成功', {icon: 1});
    
    // 其他更新操作
    var update = {};
    update[field] = value;
    obj.update(update);
  });
});
</script>
</body>
</html>